<div>
  <div class="header">
    Agregar un Ingreso
  </div>

  <div class="contenedor">
      <div class="form">
        <ion-item>
          <ion-label position="floating" >Monto</ion-label>
          <ion-input placeholder="ingres el monto" [(ngModel)]="newGasto.montoEgreso" type="number"></ion-input>
        </ion-item>
        <ion-item >
          <ion-select placeholder="Selecciona Categoria" [(ngModel)]="newGasto.categoria">
            <ion-select-option *ngFor="let cat of categorias" >{{cat.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating" type="text">Detalle</ion-label>
          <ion-input placeholder="" [(ngModel)]="newGasto.detalle"></ion-input>
        </ion-item>
       <ion-item>
        <div class="calendario">
          <ion-button fill="clear" id="open-date-input-3">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>
          <p>{{this.dateSelected}}</p>
          <ion-popover trigger="open-date-input-3" show-backdrop="false">
            <ng-template>
              <ion-datetime
                #popoverDatetime5
                presentation="date"
                (ionChange)="obtenerFecha(popoverDatetime5.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </div>
       </ion-item>
       <ion-buttons>

         <ion-button fill="solid" color="primary" (click)="agregarIngreso()">Agregar</ion-button>
       </ion-buttons>
      </div>
  </div>
</div>
